.main
    each _ in Array(15)
        .plane
            .triangle

div(class='inspiration')
    a(class='inspiration__link' href='https://dribbble.com/shots/5582653-Triangles' target='_blank' rel='noreferer') https://dribbble.com/shots/5582653-Triangles


